nav {
  height: 80px;
  background-color: rgb(25, 11, 2, 0.7);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 40px;
  position: fixed;
  width: 100%;
  
}

nav h1 {
  font-family: "Playwrite IS", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  cursor:pointer;
  transition: 0.3s all ease;
}

nav h1:hover {
    color: goldenrod;
    text-shadow: 1px 1px 10px rgb(179, 182, 0);
    
}

ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

li {
  cursor: pointer;
  font-size: 23px;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  position: relative;
  transition: 0.3s all ease;
}

li::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    border-radius: 40px;
    background-color: white;
    box-shadow: 1px 1px 10px 1px rgb(179, 182, 0);
    left: 0;
    bottom: -4px;
    transition: 0.3s all ease;
}
li:hover {
    color: goldenrod;
    text-shadow: 1px 1px 10px rgb(179, 182, 0);
}

li:hover::after {
    width: 100%;
}

li:nth-child(2) {
  position: relative;
  z-index: 1;
}

span {
  width: 15px;
  height: 15px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: red;
  top: -4px;
  right: -14px;
  z-index: -1;
}
