.banner {
  height: 400px;
  background-image: url("../../assets/banner.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  color: white;
  font-family: "Playwrite FR Trad", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 28px;
}


@media screen and (max-width: 998px) {
  .banner h1 {
    font-size: 16px;
  }
  
}

@media screen and (max-width: 768px) {
  .banner {
    height: 250px;
  }
  
}

@media screen and (max-width: 500px) {
  .banner h1 {
    font-size: 12px;
    width: 80%;
    margin: 0 auto;
  }
  
}
